

@font-face {
    font-family: myFont1;
    src: url(fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(fonts/Jost-Medium.ttf);
}

@font-face {
    font-family: myFont3;
    src: url(fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: myFont5;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: myFont6;
    src: url(fonts/Quicksand-Regular.ttf);
}

html {
    background-color: black;
}

body {
    
    background-color:rgb(99, 99, 99);
    border-style: solid;
    border-radius: 20px;
} 

h1 {
    color: rgb(0, 0, 0);
    font-family:myFont1, Arial, Helvetica, sans-serif; 
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
    margin-bottom:5px;
    
    
}

.container0 {
    display: inline-flexbox;
    justify-content: space-between;
    
    
}

#me {
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    height:90px;
}

#road {
    border-style: solid;
    border-width: .1px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

#home {
    color: rgb(59, 5, 255);
    font-family: myFont1, sans-serif;
}

.container2 {
    opacity: 1;
    display: flex;
    text-align: center;
    border-color: rgba(255, 255, 255, 0.336);
    border-style: solid;
    border-width: .1px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
    background-color: rgb(172, 171, 171); 
}

@media only screen and (min-width: 1200px) {
    .container2 {
        margin-left: 200px;
        margin-right: 200px;
    }
    body {
        margin-left: 200px;
        margin-right: 200px;
    }
}

p {
    font-family: myFont6, sans-serif;
    font-size: 15px;
    font-weight: 590;
    color: rgba(255, 255, 255, 0.877);
    letter-spacing: .5px;
    line-height: 22px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(26, 26, 26, 0.664);
    opacity: 1;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#molding {
    color: rgb(255, 251, 6);
    text-decoration: none;
}

#molding:hover {
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

#links {
    display: flex;
    gap: 10px;
    font-family: myFont3, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-left:20px;
    margin-right:20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 171, 171);
    /* background-color: rgba(255, 255, 255, 0.63); */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
}

@media only screen and (min-width: 1300px) {
    #links {
        margin-left: 200px;
        margin-right: 200px;
        gap: 60px;
    }
}

.thelinks {
    padding-top: 6px;
    text-decoration: none;
    font-size: 22px;
    font-family: myFont5;
    color: rgb(53, 52, 52);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363); 
}

.thelinks:hover {
    background-color: rgba(0, 0, 0, 0.11);
} 

.thelinks.li {
    margin-left:6px;
}