@font-face {
    font-family: myFont1;
    src: url(fonts/Roboto_Condensed/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(fonts/Jost/static/Jost-Medium.ttf);
}

@font-face {
    font-family: myFont3;
    src: url(fonts/Raleway/static/Raleway-Light.ttf);
}

@font-face {
    font-family: myFont4;
    src: url(fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf);
}

@font-face {
    font-family: myFont5;
    src: url(fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

body {
    /* background-image: linear-gradient(rgb(146, 145, 145), rgb(73, 72, 72), rgb(211, 211, 212)); */
    background-image: linear-gradient(to right, rgb(155, 155, 155), rgb(199, 199, 199));
    /* background-color: rgb(255, 255, 255); */
    box-shadow: inset 0 0 0 1000px rgba(48, 48, 48, 0.315);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: myFont1, sans-serif;
    text-align: center;
    font-size: 40px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

.container0 {
    display: inline-flexbox;
    justify-content: space-between;
}

#me {
    /* width: 70px;
    height: 99px; */
    border-radius: 5%;
    border-style: solid;
    border-width: .1px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    /* background-color: rgb(109, 103, 121); */
    height: 100px;
}

#road {
    /* width: 600px;
    height: 300px; */
    border-style: solid;
    border-width: .1px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

#home {
    color: rgb(59, 5, 255);
    font-family: myFont1, sans-serif;
}

.container2 {
    background-color: rgb(163, 163, 163);
    opacity: 1;
    display: flex;
    text-align: center;
    border-style: solid;
    border-width: .1px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

p {
    font-family: myFont3, sans-serif;
    font-size: 15px;
    font-weight: 590;
    color: rgb(253, 253, 253);
    letter-spacing: 1.0px;
    line-height: 22px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(85, 85, 85);
    opacity: .8;
    border-radius: 10px;
    ;
}

#molding {
    color: rgb(253, 249, 7);
    text-decoration: none;
}

#molding:hover {
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

#links {
    display: flex;
    gap: 10px;
    font-family: myFont3, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 22px;
    /* margin-left: 35px; */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
    align-items: center;
    justify-content: center;
}


/* 
.my_links {
    display: inline-flex;
    flex-grow: 1;
} */

.thelinks {
    text-decoration: none;
    font-size: 25px;
    font-family: myFont5;
    color: rgb(5, 5, 5);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}

.thelinks:hover {
    color: blue;
}